selector .swiper-wrapper {
      -webkit-transition-timing-function: linear !important;
      -moz-transition-timing-function: linear !important;
      -o-transition-timing-function: linear !important;
      transition-timing-function: linear !important; 
}

.elementor-image-carousel .swiper-slide img {
    border-radius: 24px !important; /* Set desired radius */
}

.elementor-image-carousel .swiper-slide {
    border-radius: 24px !important; /* Match the radius */
    overflow: hidden;
}